html, body {
    height: 100%;
}
body {
    background-color:rgb(10, 10, 10);
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', Verdana, sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    font-size: 1.2rem;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
a {
    text-decoration: none;
    color: cyan;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 3.6rem;
}
h2 {
    margin: 2em 0px 0.8em;
    padding: 0;
    font-size: 2.5rem;
}
p {
    margin: 10px 0px;
}

main {
    width: 60%;
    max-width: 990px;
    margin: 0px auto;
    background-color:  rgb(17, 19, 19);
    background-color:rgb(10, 10, 10);

}

footer {
    margin: auto auto 0px;
    background-color: black;
    width: 60%;
    max-width: 990px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    
}
footer a {
    display: flex;
    padding: 5px 10px;
}



.header__size--1 {
    margin: 0;
    padding: 1em 0px;
}

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: rgb(9, 25, 26);

}

.navigation__item {
    display: flex;
    padding: 10px 20px;


}
.navigation__item a {
    color: white;
}
.navigation__item--active {
    background-color: rgb(39, 39, 39);
}
.navigation__item--active a{
    color: rgb(249, 249, 249);

}
.movie-list {
    display: flex;
    margin: 3em auto 5em;
}
.slideshow {

    display: flex;
    margin: auto;
    width: 100%;
    overflow-x: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
    background-color: rgb(9, 25, 26);
    align-items: center;
}

.slideshow__item {
    flex: auto;
    margin: 0 0.5em;


}
ul.list {
    display: block;
    list-style-type: square;
    list-style-position: inside;
}
.list__items {

}

.hidden{
    display: none;
    height: 0px;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

::-webkit-scrollbar {
    border: 1px solid #5b5b5b;
    border-radius: 10px;

}
::-webkit-scrollbar-thumb:horizontal{
    background: rgb(48, 50, 50);
    border: 1px solid #5b5b5b;
    border-radius: 10px;
}
@media screen and (max-width: 700px) {
    .navigation, footer, .slideshow {   
      flex-direction: column;
    }
  }